[submodule "kalium"]
	path = kalium
	url = https://github.com/multifacet/kalium
[submodule "kalium-benchmarks"]
	path = kalium-benchmarks
	url = https://github.com/multifacet/kalium-benchmarks
[submodule "kalium-proxy"]
	path = kalium-proxy
	url = https://github.com/multifacet/kalium-proxy.git
